[submodule "src/outset-site"]
	path = src/outset-site
	url = https://github.com/willf668/outset-site.git
[submodule "src/coding"]
	path = src/coding
	url = https://github.com/willf668/coding.git
[submodule "src/personal-site-game"]
	path = src/personal-site-game
	url = https://github.com/willf668/personal-site-game
[submodule "public/personal-site-server"]
	path = public/personal-site-server
	url = https://github.com/willf668/personal-site-server
[submodule "public/personal-site-game"]
	path = public/personal-site-game
	url = https://github.com/willf668/personal-site-game
