.pageHolder {
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

@import "~react-image-gallery/styles/css/image-gallery.css";
.closeButton {
    font-size: calc(10px + 4vmin);
    position: absolute;
    margin: 2vw;
    color: white;
}

.pageColumn {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    padding: 1vw 2vw 1vw 2vw;
}

.pageRow {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
  
}

.textBox {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1vw;
    margin: 1vw;
    color: white;
    text-align: left;
}

.linkButton {
    border-radius: 4px;
    background-color: lightcoral;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.linkButton span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.linkButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.linkButton:hover span {
    padding-right: 25px;
}

.linkButton:hover span:after {
    opacity: 1;
    right: 0;
}

#OutsetPage {
    background-color: rgb(50, 105, 133)
}

#IncPage {
    background-color: rgb(162, 65, 53);
}

#CFEPage {
    background-color: grey;
}

#THKPage {
    background-color: rgb(253, 200, 47);
}

#FreehandPage {
    background-color: black;
}

#FreehandPage .textBox {
    background-color: rgba(255, 255, 255, 0.3);
}

#RemotionPage {
    background-color: rgb(41, 57, 143);
}

#JamPage {
    background-color: rgb(246, 147, 72);
}