.pageHolder {
    width: 100%;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-width: 1vw;
    z-index: 11;

    box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
}

.noSpacePage {
    margin: 0;
    padding: 1vw !important;
    width: 100%;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

.closeButton {
    font-size: calc(10px + 4vmin);
    position: absolute;
    margin: 2vw;
    color: white;
}

.pageColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 40%;
    padding: 1vw 2vw 1vw 2vw;
}

.jamColumn {}

.pageRow {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    width: 100%;
    justify-content: space;
    align-items: center;
    overflow: hidden;
}

.buttonRow {
    display: flex;
    justify-content: center;
}

.textBox {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1vw;
    margin: 1vw;
    color: white;
    text-align: left;
    box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.1);
    border-radius: 1vw;
    width: fit-content;
}

.linkButtonRow {
    justify-content: space-evenly;
}

.linkButton {
    border-radius: 1.2vw;
    background-color: lightcoral;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    width: fit-content;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);

    font-size: calc(8px + 1.5vmin);
    transform: rotate(0deg);
}

.linkButton span {
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.linkButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.linkButton:hover{
    transform: rotate(-10deg);
}

.linkButton:hover span {
    padding-right: 25px;
}

.linkButton:hover span:after {
    opacity: 1;
    right: 0;
}

#thkAnimals {
    width: 100%;
    height: 25vw;
}

#thkAnimals img {
    height: 100%;
}
#freehand .textBox {
    background-color: rgba(255, 255, 255, 0.3);
}


#JamPage {
    background-color: rgb(246, 147, 72);
}

#ResearchPage {
    background-color: #9F3434;
}

.jamGame {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 200, 47);
    border-radius: 20px;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
    position: relative;
    margin: 1vw;
}

.jamGameTitle {
    color: white;
    font-size: calc(15px + 4vmin);
    margin-top: 1vw;
}

.jamGameTitle * {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5vw;
    border-radius: 1.5vw;
}

.black {
    background-color: black;
    color: white;
}