.App {
  text-align: center;
  width: 100vw;
  margin: 0;
}

body {
    background: linear-gradient(270deg, #3f3d66, #605ca9, #8781be);
    background-size: 600% 600%;

    -webkit-animation: bgAnim 10s ease infinite;
    -moz-animation: bgAnim 10s ease infinite;
    animation: bgAnim 10s ease infinite;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 1.5vmin);
  font-family: 'Montserrat';
  width: 100%;
  height: max(100%, 100vh);
}

@-webkit-keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

a {
  text-decoration: none;
  color: #e68dc4;
}

iframe {
  border-style: hidden;
  width: 100%;
  height: 100%;
}

#headerGame {
  cursor: pointer;
  width: 100%;
  height: 40vw;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.clickable, .socialLink {
  cursor: pointer;
}

.clickable:hover, .socialLink:hover {
  opacity: 0.6;
}

#content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  width: 100%;
}

.socialLink {
  font-size: calc(10px + min(6vw,12vh));
  margin:0;
  color: white;
}

.resumeBox {
  color: white;
  margin-top: 1vw;
  font-size: calc(3px + min(3vw,3vh));
}

#sidebarCol {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 2vw 0 2vw 0;
  top: 0;
  flex-wrap: wrap;
  align-self: flex-start;
}

#sidebarCol .socialLink{
  margin: 0;
}

#sidebarRow {
  margin: 1vw;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw 0 2vw 0;
  top: 0;
  align-self: flex-start;
}

#popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1vw;
  border-style: none;
}

#popupText div::before {
  content: "> ";
}

.popupTitle {
  font-size: calc(5px + 3vw);
}

.popupTitle::before {
  content: "";
}

#portrait {
  width: 100%;
}

#popupText {
  display: flex;
  flex-direction: column;
}

#popupText>div {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#popupText>div>a {
  color: green;
}

.column {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 0;
  min-width: 0;
  flex: 0 1;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#projectList {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  height: 0%;
  align-content: flex-start;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
}

.bottomRow {
  border-radius: 0 0 0 2vw;
}

.previewBox {
  padding: 0px;
}

.previewBox img {
  width: 100%;
  height: 100%;
}
.previewBox:hover {
  opacity: 0.9;
  -webkit-filter: brightness(110%);
  z-index:555555 !important;
}
.previewBox img:hover {
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.75);
}

.previewDate {
  position: absolute;
  display: inline;
  float: right;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5vw;
}

.expandedPage {
  background-color: white;
  overflow: hidden;
  display: flex;
  transform-origin: top;
  height: 0%;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
}

.pageAnimation {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.opening {
  animation-name: anim-open;
}

.closing {
  animation-name: anim-close;
}

@keyframes anim-open {
  from {
    height: 0%;
    transform: scaleY(0);
  }
  to {
    height: 100%;
    transform: scaleY(1);
  }
}

@keyframes anim-close {
  from {
    height: 100%;
    transform: scaleY(1);
  }
  to {
    height: 0%;
    transform: scaleY(0);
  }
}

.pageTitle {
  padding-top: 1vw;
  color: white;
  font-size: calc(15px + 6vmin);
}

.linkButton {
  cursor: pointer;
}

.slideshow * {
  border-radius: 2vw;
}

#topBar {
  display: flex;
  justify-content: space-between;
  width: 97.7%;
  background-color: rgba(0, 99, 247, 0.8);
  padding: 1vw;
}

#topBar>div::after {
  content: "";
}

#filter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  color: white;
}

#footer {
  background-color: rgba(45, 214, 236, 0.4);
  padding: 1vw;
  margin: 4vw;
  color: white;
  border-radius: 2vw;
  box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.25);
}

#footer>div {
  padding-bottom: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 10vw;
  color: white;
}

#filePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fileHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fileLink{
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}