.App {
  text-align: center;
  width: 100vw;
  margin: 0;
}

body {
  background: linear-gradient(270deg, #3f3d66, #605ca9, #8781be);
  background-size: 600% 600%;
  -webkit-animation: bgAnim 10s ease infinite;
  -moz-animation: bgAnim 10s ease infinite;
  animation: bgAnim 10s ease infinite;
  font-family: "Poppins";
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 1.5vmin);
  width: 100%;
  height: max(100%, 100vh);
}

@-webkit-keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

a {
  text-decoration: none;
  color: #e68dc4;
  transition: 0.2s;
}

a:hover {
  color: white;
}

iframe {
  border-style: hidden;
  width: 100%;
  height: 100%;
}

#headerGame {
  cursor: pointer;
  width: 100%;
  height: 40vw;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */
}

.clickable, .socialLink {
  cursor: pointer;
}

.socialLink {
  transition: 0.2s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.clickable:hover, .socialLink:hover {
  opacity: 0.8;
}

.socialLink:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

#content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  width: 100%;
}

.socialLink {
  font-size: calc(10px + min(6vw, 12vh));
  margin: 0;
  color: white;
}

.resumeBox {
  color: white;
  margin-top: 1vw;
  font-size: calc(3px + min(3vw, 3vh));
}

#sidebarCol {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 2vw 0 2vw 0;
  top: 0;
  flex-wrap: wrap;
  align-self: flex-start;
}

#sidebarCol .socialLink {
  margin: 0;
}

#sidebarRow {
  margin: 1vw;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw 0 2vw 0;
  top: 0;
  align-self: flex-start;
}

#popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1vw;
  border-style: none;
}

#popupText div::before {
  content: "> ";
}

.popupTitle {
  font-size: calc(5px + 3vw);
}

.popupTitle::before {
  content: "";
}

#portrait {
  width: 100%;
}

#popupText {
  display: flex;
  flex-direction: column;
}

#popupText>div {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#popupText>div>a {
  color: green;
}

.column {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 0;
  min-width: 0;
  flex: 0 1;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectList {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  height: 0%;
  align-content: flex-start;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.25);
}

.bottomRow {
  border-radius: 0 0 0 2vw;
}

.previewBox {
  padding: 0px;
  opacity: 1;
  -webkit-filter: brightness(100%);
  transition: 0.5s;
}

.previewBox img {
  width: 100%;
  height: 100%;
}

.previewBox:hover {
  opacity: 0.9;
  -webkit-filter: brightness(110%);
  z-index: 10 !important;
}

.previewBox img:hover {
  box-shadow: 2px 2px 20px 13px rgba(0, 0, 0, 0.75);
}

.previewDate {
  position: absolute;
  display: inline;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5vw;
}

.expandedPage {
  background-color: white;
  overflow: hidden;
  display: flex;
  transform-origin: top;
  height: 0%;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
}

.pageAnimation {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.opening {
  animation-name: anim-open;
}

.closing {
  animation-name: anim-close;
}

@keyframes anim-open {
  from {
    height: 0%;
    transform: scaleY(0);
  }

  to {
    height: 100%;
    transform: scaleY(1);
  }
}

@keyframes anim-close {
  from {
    height: 100%;
    transform: scaleY(1);
  }

  to {
    height: 0%;
    transform: scaleY(0);
  }
}

.pageTitle {
  padding-top: 1vw;
  color: white;
  font-size: calc(15px + 6vmin);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageTitle * {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5vw;
  border-radius: 1.5vw;
}

.pageDate {
  position: absolute;
  font-size: calc(15px + 4vmin);
  color: white;
}

.linkButton {
  cursor: pointer;
}

.slideshow {
  max-width: 100%;
}

.videoSlide {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}

.videoSlide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2vw;
  box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.3);
}

.slideshowImg {
  margin: 2vw;
}

.carousel-status {
  display: none !important;
}

.slideshowImg img {
  box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2vw;
}

#topBar {
  display: flex;
  justify-content: space-between;
  width: 97.7%;
  background-color: rgba(0, 99, 247, 0.8);
  padding: 1vw;
}

#topBar>div::after {
  content: "";
}

#filter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  color: white;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer>div {
  border-radius: 2vw;
  box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.25);
  padding: 1vw;
  margin: 4vw;
  color: white;
}

#footerInfo {
  background-color: rgba(45, 214, 236, 0.4);
}

#footerClap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F08080;
  color: white;
  margin: 0vw !important;
}

.title {
  font-size: 10vw;
  color: white;
}

#filePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fileHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fileLink {
  font-size: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


#clapBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#clapCount {
  margin: 0.5vw;
  font-size: calc(5px + 2.5vmin);
}

.clap {
  --btn-dimension: 4vw;
  --primary-color: rgb(253, 254, 255);
  --secondary-color: rgb(255, 255, 255);

  position: relative;
  outline: 1px solid transparent;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  width: var(--btn-dimension);
  height: var(--btn-dimension);
  background: none;
  transition: 0.2s;
}

.clap:hover {
  cursor: pointer;
  border: 5px solid var(--secondary-color);
  --btn-dimension: 5vw;
  transition: border-color width height 0.3s ease-in;
}

.clap:hover::after {
  animation: shockwave 1s ease-in infinite;
}

svg {
  width: 2.5vw;
  fill: none;
  stroke: var(--secondary-color);
  stroke-width: 3px;
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px var(--secondary-color);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px darken(var(--secondary-color), 20%), inset 0 0 10px var(--secondary-color);
  }
}