@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
.App {
  text-align: center;
}

body {
  background: linear-gradient(270deg, #2b6396, #c37c46);
  background-size: 400% 400%;
  -webkit-animation: bgAnim 30s ease infinite;
  -moz-animation: bgAnim 30s ease infinite;
  animation: bgAnim 30s ease infinite;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 1.5vmin);
  font-family: 'Montserrat';
  width: 100%;
  height: max(100%, 100vh);
}

@-webkit-keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bgAnim {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

a {
  text-decoration: none;
  color: #e68dc4;
}

iframe {
  border-style: hidden;
  width: 100%;
  height: 40vw;
}

.clickable, .socialLink {
  cursor: pointer;
}

.clickable:hover, .socialLink:hover {
  opacity: 0.6;
}

#content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  width: 100%;
}

.socialLink {
  font-size: calc(10px + 10vmin);
  color: white;
}

.resumeBox {
  color: white;
}

#sidebarCol {
  margin: 1vw;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 2vw 0 2vw 0;
  top: 0;
  align-self: flex-start;
}

#sidebarRow {
  margin: 1vw;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vw 0 2vw 0;
  top: 0;
  align-self: flex-start;
}

#popup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1vw;
  border-style: none;
}

.popupTitle {
  font-size: calc(10px + 4vmin);
}

#portrait {
  width: 100%;
}

#popupText {
  display: flex;
  flex-direction: column;
}

#popupText>div {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

#popupText>div>a {
  color: green;
}

.column {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 0;
  min-width: 0;
  flex: 0 1;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#projectList {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  height: 0%;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.previewBox {
  padding: 0px;
}

.previewBox img {
  width: 100%;
  height: 100%;
}

.previewDate {
  position: absolute;
  display: inline;
  float: right;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5vw;
}

.expandedPage {
  background-color: white;
  overflow: hidden;
  display: flex;
  transform-origin: top;
  height: 0%;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
}

.pageAnimation {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.opening {
  animation-name: anim-open;
}

.closing {
  animation-name: anim-close;
}

@keyframes anim-open {
  from {
    height: 0%;
    transform: scaleY(0);
  }
  to {
    height: 100%;
    transform: scaleY(1);
  }
}

@keyframes anim-close {
  from {
    height: 100%;
    transform: scaleY(1);
  }
  to {
    height: 0%;
    transform: scaleY(0);
  }
}

.pageTitle {
  padding-top: 1vw;
  color: white;
  font-size: calc(15px + 6vmin);
}

#topBar {
  display: flex;
  justify-content: space-between;
  width: 97.7%;
  background-color: rgba(0, 99, 247, 0.8);
  padding: 1vw;
}

#topBar>div::after {
  content: "";
}

#filter {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  color: white;
}

#footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1vw;
  margin: 2vw;
  color: white;
}

#footer > div{
  padding-bottom: 0.5vw;
}